*{
    box-sizing: border-box;
    padding: 0;
}

.form-box{
    width: 1500px;
    height: 750px;
    margin-left: 100px;
    padding: 5vw ;
    display: flex;
}

.form-box h1{
    font-size: 50px ;
    text-align: center;
    color: #1c2020;
    margin: 0 0 .5vh 0
}

.form-box label{
    display: block;
    text-align: center;
    font-size: 20px;
    margin: 0 0 2vh 0;
}

.form-box input{
    display: block;
    width: 97%;
    padding: .5rem .8rem .5rem .8rem;
    border:1px solid;
    font-size: 20px;
    margin: 20px auto
}

.button {
    min-width: 165px;
    width: 97%;
    margin-top: 25px;
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 35px 0 35px;
    font-size: 15px;
    background-color: rgba(204, 201, 201, 0.95);
    color: white;
    border: none;
    cursor: pointer;
}

.button:hover {;
    background-color: #ed4e04;
    color: white;
    border: 1px solid black;
}

.imageBox{
    position: relative;
}

.formBox{
    padding-top: 120px;
    padding-left: 25px;
    padding-right: 25px;
    width: 500px;
}

.text {
    width: 450px;
    margin-top:20px;
    margin-bottom: 40px;
    padding: -15px;
}

.image-text{
    width: 450px;
    font-size: 45px;
    font-weight: bolder;
    color: white;
    text-align: left;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -350%);
}
